form {
    max-width: 100%;
    align-items: center;
}

body {
    background-color: #36454F;
    overflow-x: hidden;
}

.container {
    margin: 20px 50px;
}

th {
    font-size: 25px;
}

td {
    font-size: 22px;
}


.btn {
    background-color: #4979A9;
}

.navbar {
    background-color: #D3D3D3;
}

#heading {
    color: #D3D3D3;
}

#form {
    width: 600px;
    height: auto;
    margin: 50px 350px;
    color: #B6D0E2;
}

#stock {
    color: #D3D3D3;
    margin: 30px 300px;
    font-size: 25px;
}

#table {
    margin: 30px 30px;
    padding: 50px;
    width: 100%;
    border-spacing: 40px;
}

#action {
    margin-left: 300px;
    margin-bottom: 0px;
}