
body{
    overflow-x: hidden;
    background-image: url('./images/bac2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card {
    border: 6px solid #bcd0e4;
    margin: 50px 100px;
}

.card-text {
    text-align: center;
    color: #833C5C;
    font-size: 20px;
}

.card-title {
    text-align: center;
    color: #194F7F;

}