#form {
    width: 500px;
    color: #B6D0E2;
    height: 400px;
    padding: 20px;
    border: 3px solid #19d4fc;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 500px;
}

h2 {
    color: #D3D3D3;
    margin: 50px 600px 10px 550px;
    padding-top: 50px;
    width: 100%;
}


#form {}