{% extends 'spare/base.html' %}{% block content%}
{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static 'css/home.css'%}"> {% endcomment %}
     <link rel="stylesheet" href={% static 'css/about.css' %}>
    <title>Document</title>
</head>

<body>
    <div class="container welcome">
        <div class="row ">
            <h1 id="heading">Welcome to BeReal SpareMotors</h1>
            <p>Powering Your Drive, Anytime, Anywhere!</p>
        </div>
        <div>
            <p>Empowering industries worldwide, our premium spare motors drive progress with unrivaled performance and
                reliability.
                Discover the perfect match for your machinery needs and elevate your operations to new heights</p>
        </div>
        <button>GEt</button>
    </div>
</body>

</html>

 {% endblock%} 