{% extends 'spare/base.html'%} {% block content%}
<br></br>

<div class = "container">
<h1 class = "text-center" id="heading">TOTAL SALES MADE</h1><br>
  <table class="table" id="table">
    <thead class="thead-dark">
      <tr style="text-align: center;">
        <th scope="col">Total Amount Received</th>
        <th scope="col">Total Change Given</th>
        <th scope="col">Income</th>
      </tr>
    </thead>  
    <tbody>
      <tr style="text-align: center;">    
        <td>UGX{{total}}</td>
        <td>UGX{{change}}</td>
        <td>UGX{{net}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br></br>

<div class = "container">
  <table class="table" id="table">
    <thead class="thead-dark">
      <tr style="text-align: center;">
        <th scope="col">Customer name</th>
        <th scope="col">Item Bought</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(Ugx)</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Change Collected</th>
      </tr>
    </thead>
    {% for sale in sales %}
    <tbody>
      <tr style="text-align: center;">    
        <td>{{sale.issued_to | title}}</td>
        <td>{{sale.part | title}}</td>
        <td>{{sale.quantity}}</td>
        <td>Ugx.{{sale.part.unit_price}}</td>
        <td>Ugx.{{sale.get_total}}</td>
        <td>Ugx.{{sale.amount_received}}</td>
        <td>Ugx.{{sale.get_change}}</td>
        {% comment %} <td>{{sale.date}}</td> {% endcomment %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}