{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
   
    <title>BeRealMotor</title>
</head>
<body>
     <nav class="nav navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'css/images/motorlogo.jpg'%}" alt="Logo" width="45" height="50"
                    style="border-radius: 25px;" class="d-inline-block align-text-top">
                <h1 class="d-inline-block align-text-top">BeRealMotor</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-right" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>
            </div>
            {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home" style="color: blue;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_sales' %}">All Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'receipt' %}">Receipts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">LogOut</a>
                    </li>
                    {% endif %}
        </div>
    </nav>
{% block content %}
{% endblock %}
</body>
<footer>
    <p>
        All rights reserved to elizybbethy <br>
        copyright@2023
    </p>
</footer>
</html>
