{% extends 'spare/base.html' %} {% block content %}
<br>

<div class = "container">
  <h1 class= "text-center" id="heading">ITEMS IN STOCK</h1>
  <br>

  <div class = "container" id="stock">
    <form action = "" method = "GET">
      Search{{product_filters.form}}
      <input 
      type = "submit"
      value = "Search here"
      class="btn btn-secondary btn"/>
    </form>
  </div>

  <br>
  <table class="table" id="table">
    <thead class="thead-dark">
      <tr style="text-align: center;">
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(Ugx)</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr style="text-align: center;">    
        <td>{{product.Category_name }}</td>
        <td>{{product.part_name}}</td>
        <td>B00.0{{product.id}}</td>
        <td>{{product.total_quantity}}</td>
        <td>Ugx{{product.unit_price}}</td>
        <td ><a href="{% url 'product_detail' product.id %}"
              ><input
                type="submit"
                value="Action"
                class="btn btn-secondary btn"
                type="button"
            /></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}