{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> 
    
    <title>BeRealMotors</title>
</head>

<body>
    <nav class="nav navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">
                <img src="{% static 'css/images/motorlogo.jpg'%}" alt="Logo" width="45" height="50"
                    style="border-radius: 25px;" class="d-inline-block align-text-top">
                <h1 class="d-inline-block align-text-top">BeRealMotor</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            </div>
            <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login" style="color: blue;">Login</a>
                    </li>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card" style="width:fit-content">
                <img src="{% static 'css/images/8.jpg'%}">
                <div class="card-body">
                    <h1 class="card-title">BeRealMotors Spare Company</h1>
                    <p class="card-text">Powering Your Drive, Anytime, Anywhere!</p>
                </div>
            </div>
        </div>
    </div>
    {% block content%}
    {% endblock%}

</body>
<footer>
    <p>
        All rights reserved to elizybbethy <br>
        copyright@2023
    </p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</html>